<div class ="hero">
  <br />
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br /><br /></br>
    <h1> Style begins here.</h1>
    <br />
    <h2> Book the Caribbean's best beauty, barber, fashion, and style experts. </h2>
    <br /><br />
    <div class="input-group col-4 offset-4">
      <input type="text" class="form-control" placeholder="Braiding...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Search</button>
      </span>
    </div>
    <br /><br />
  </div>
</div>

<div class = "call-to-action">
  <h1>Are you a beauty or style professional? </h1>
  <p><span class = "logo-text-1">enstyle</span><span class = "logo-text-2">.me</span> is for Hair Stylists, Nail Technicians, Spas, Make-Up Artists, Stylists, and Barbers. Use <span class = "logo-text-1">enstyle</span><span class = "logo-text-2">.me</span> to list your services to a wider range of clients, showcase your work, and provide easy, hands-free booking management. Getting started is <span class= "emphasis">free</span> and <span class = "emphasis">easy</span>.  </p>
  <div class = "cta-buttons text-center">
  <%= link_to 'Start Now', new_vendor_path, class: 'btn btn-start'%>
  <br />
  <br />
  <p><i>Need help getting started? We'd be happy to assist.</i> <%= link_to 'Get Help', '#'%></p>
  </div>
</div>