<div class = "business-background">
  <div class= "start centered text-center">
    <h1>How can we help you?</h1>
    <br />
    <br />
    <%= link_to 'I\'m looking for stylists', '#', class: 'btn btn-lg btn-outline-1'%>
    <%= link_to 'I want to register my business', new_vendor_path, class: 'btn btn-lg btn-main'%>
  </div>
</div>