<br />
<br/>
<br />
<br/>

<div class= "start centered text-center">
  <h1>Tell us how we can help <span class = "emphasis">you.</span></h1>
  <%= link_to 'I\'m looking for stylists', '#', class: 'btn btn-start-light'%>
  <%= link_to 'I\'m a business', '#', class: 'btn btn-start-dark'%>
</div>