<body class = "business-background">
  <div class = "vendor-sign-up col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
      <h1 class = "text-center">Add a Vacation. </h1>
      <p class = "text-muted text-center">Taking some time off? Add it to your calendar so that clients know you'll be unavailable.</h4>
      <br />

  </div>
</body>