@import "bootstrap"; 

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #bfa89e;
  color: black;
  font-family: 'open_sanslight';
  font-size: 12px;
}

.logo {
  max-height: 50px;
}

.bg-faded {
  border-bottom: 1px solid #ECECEC; 
  background-color: white;
}

.nav-link {
  font-family: 'open_sansbold';
}

.nav-item {
  margin-right: 15px;
}

.btn-navbar {
  font-family: 'open_sanssemibold';
  text-transform: uppercase;
  background-color: #78a1bb;
  border-radius: 0px;
}

.btn-navbar:hover {
  background-color: #283044; 
}

a.btn-navbar {
  text-decoration: none;
  color: white; 
}

.hero {
  background: url(masthead3.png) no-repeat center center fixed; 
  opacity: 0.8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 480px;
}

.frosty {
  // background: rgba(0, 0, 0, 0.3);
  color: white;
}

.frosty h1 {
  font-family: 'abril_fatfaceregular';
  letter-spacing: 2px;
  font-size: 50px;
}

.frosty h2 {
  font-family: 'open_sanslight';
  font-weight: 100;
  font-size: 20px;
}

.call-to-action{
  padding: 50px;
  background-color: #ebf5ee;
}

.call-to-action h1 {
  font-family: 'abril_fatfaceregular';
  font-size: 30px;
  text-align: center;
  color: #283044;
  padding: 10px;
}

.call-to-action p{ 
  font-family: 'open_sanslight';
  letter-spacing: 1px;
  text-align: center;
}

.call-to-action .emphasis {
  color: #78a1bb;
  font-family: 'open_sansbold';
  font-size: 1.2rem; 
}

.logo-text-1 {
  font-family: 'abril_fatfaceregular';
  color: #283044;
  font-size: 1.2rem;
}

.logo-text-2 {
  font-family: 'abril_fatfaceregular';
  color: #bfa89e;
  font-size: 1.2rem;
}

.cta-buttons {
  align-content: center;
}


.btn-start {
  font-family: 'open_sansbold';
  text-transform: uppercase;
  background-color: #78a1bb;
  border-radius: 0px;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 20px;
}

.btn-start:hover {
  background-color: #283044; 
}

a.btn-start {
  text-decoration: none;
  color: #ebf5ee; 
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start h1 {
  font-family: 'abril_fatfaceregular';
  margin: 20px;
  font-size: 4rem ;
  color: #283044;
}

.start .emphasis {
  color: #bfa89e;
}

.btn-start-light {
  font-family: 'open_sanssemibold';
  text-transform: uppercase;
  background-color: #78a1bb;
  padding: 30px;
  color: #283044;
  border: 1px solid #78a1bb;
  border-radius: 0px;
  min-width: 270px;
  margin: 30px 15px 30px 15px
}

.btn-start-light:hover {
  background-color: #78a1bb; 
  border: 1px solid #283044;
}

a.btn-start-light {
  text-decoration: none;
  color: #283044; 
}

.btn-start-dark {
  font-family: 'open_sanssemibold';
  text-transform: uppercase;
  background-color: #283044;
  padding: 30px;
  color: white;
  border: 1px solid #283044;
  border-radius: 0px;
  min-width: 270px;
  margin: 30px 15px 30px 15px
}

.btn-start-dark:hover {
  background-color: #37425e; 
  border: 1px solid #78a1bb;
}

a.btn-start-dark {
  text-decoration: none;
  color: white; 
}

.sign-up-box {
  padding: 110px 50px 0px 0px;
}

.sign-up-photo {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.sign-up-box input {
  border: 1px solid grey;
  height: 40px;
  min-width: 100%;
  font-family: 'open_sanslight';
  padding: 10px;
}

.sign-up-box h2 {
  font-family: 'open_sanslight';
  letter-spacing: 1px;
}

.sign-up-box label, .sign-up-box em {
  font-family: 'open_sanslight';
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-top: 20px;
}

input#user_remember_me {
  margin-top: 20px; 
}

.sign-up-box a {
  font-family: 'open_sanslight';
  color: #8b786d;
  font-size: 16px;
}

.sign-up-box p {
  font-family: 'open_sanslight';
  font-size: 12px;
}