<section class = "list">
  <ul class = "availability-list">
    
  </ul>
</section>

<script>
  $(document).ready(function() {
    $.get("/availabilities").success( function( data ) {
      $.each(data, function(index,  availability) {
        var liElement = '<li><div class="view"><input class="toggle" type="checkbox"><label>' +
          availibility.day_start +
          '</label></div></li>';
          console.log(liElement);
      });
    });
  });
</script>